{% extends 'base.html' %}
{% block content %}
  <h2>Список товаров</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Цена покупки</th>
        <th>Цена продажи</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr id="row-{{ product.id }}">
        <td>{{ product.name }}</td>
        <td>{{ product.buy_price }}</td>
        <td>{{ product.sell_price }}</td>
        <td>
          <button class="btn btn-danger btn-sm delete-btn" data-code="{{ product.id }}">
            Удалить
          </button>
          <a href="{% url 'edit_product' product.id %}" class="btn btn-primary btn-sm">
            Редактировать
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    {% if request.GET.deleted == 'true' %}
        <div class="alert alert-success">Товар удален</div>
    {% elif request.GET.deleted == 'false' %}
        <div class="alert alert-danger">Ошибка</div>
    {% endif %}